<!DOCTYPE html>
<html>
<header>
    <title>CRM</title>
</header>
<body>

<h1>CRM app</h1>
<p>
    Le CRM est un référentiel clients pour l’entreprise. Il enregistre les clients. Il calcule les points de fidélité.
    Il assure la segmentation des clients pour les promotions ciblés.
</p>
<p>{{customer}}</p>
<h3>Schedule credit</h3>
<a href="{% url 'schedule_credit' %}">Schedule</a>
<h3>Generate tickets</h3>
<button onclick="generateClient()">Generate test client</button>
<a href="{% url 'generate_tickets' %}">Generate tickets</a>
<script>
    function generateClient(){
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'create_customer_with_id_test' %}", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            Nom: "Jack",
            Prenom: "Baltus",
            email: "jack.baltus@ursi.fr",
            Credit: 200,
            Paiement: "2019-01-09",
            Compte: "BKN1CST42"
        }));
    }

</script>
<h3>Importer un fichier dans la base de donnée</h3>
<a href="{% url 'update_db' %}">Importer clients</a>
<table style="width:100%">
    <tr>
        <th>IdClient</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Sexe</th>
        <th>Age</th>
        <th>Numéro de tel</th>
        <th>@mail</th>
        <th>Crédit</th>
        <th>Date_paiement</th>
        <th>Montant</th>
        <th>Compte</th>
        <th>Nb Refus</th>

    </tr>
    {% for o in customers %}
  <tr>
    <th>{{ o.IdClient }}</th>
    <th>{{ o.Nom }}</th>
    <th>{{ o.Prenom }}</th>
      <th>{{ o.Sexe }}</th>
      <th>{{ o.Age }}</th>
      <th>{{ o.Phone }}</th>
      <th>{{ o.Email }}</th>
      <th>{{ o.Credit }}</th>
      <th>{{ o.Date_paiement }}</th>
      <th>{{ o.Montant }}</th>
      <th>{{ o.Compte }}</th>
      <th>{{ o.NbRefus }}</th>
  </tr>
    <tr> {% empty %}
      <th>Aucun client enregistré</th>
    </tr>
    {% endfor %}
</table>
</body>
</html>
